# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AVEExk0J6_3OYDrrAK34eu---ysmMhTzQkHFY07Gmoz3b3QMMRftCmhvDMiBUDlXGSxJiVDRpe6BWHv-
PAYPAL_CLIENT_SECRET=EAqGfn6z-Csl_dhS_wLX3ghOlcVw0E075hLRtfd7Wd8cjS_kZavbF8Vl5qZrwFQbTEtN1pZIfVGf1BLs
