# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AVEExk0J6_3OYDrrAK34eu---ysmMhTzQkHFY07Gmoz3b3QMMRftCmhvDMiBUDlXGSxJiVDRpe6BWHv-
